/* ----- RESET ----- */

*{
    @include reset;
}

/* ----- BODY ----- */

body {
    background: $colorBackground2;
    background: linear-gradient(180deg, $colorBackground2 0%, $colorBackground1 100%);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    margin: 0px;

    @include centralizarPosition;
}

/* ----- SCROLLBAR ----- */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: $colorBackground2;
}

::-webkit-scrollbar-thumb{
    background-color: $colorBackground1;
    border-radius: 50px;
}

/* ----- HEADER ----- */

header{
   

    @include displayFlex("center");
    flex-direction: column;
    gap: 1.8em;

    h1{
        span:nth-child(1){
            line-height: .7em;
            font-size: 140px;
            font-size: 140px;
            color: $color5;
            text-shadow: 0px 4px 0px $color6;

            @include tamanho("celular"){
                font-size: 100px;
            }
            
        }

        span:nth-child(2){
            line-height: .7em;
            font-size: 75px;
            font-size: 75px;
            color: $color5;
            text-shadow: 0px 4px 0px $color6;

            @include tamanho("celular"){
                font-size: 53px;
            }
        }

        span:nth-child(3){
            display: block;
            line-height: .7em;
            font-size: 190px;
            font-size: 190px;
            color: $color5;
            text-shadow: 0px 4px 0px $color6;

            @include tamanho("celular"){
                font-size: 138px;
            }
        }
    }

    a{
        width: 100%;
        padding: 4.8px 5px;
        color: $color4;
        font-size: 38.4px;
        text-align: center;
        text-shadow: 0px 4px 0px $color7;
        background-color: $color5;
        border-radius: 20px;
        transition: .5s all;
        
        &:hover{
            box-shadow: -2px 5px 0px $color6;
            transform: translate(0px, -4px);      
        }

        @include tamanho("celular"){
            font-size: 26px;
            width: 100%;
            border-radius: 13px;
        }
    }
}