/* ----- RESET ----- */

*{
    @include reset;
}

/* ----- BODY ----- */

body {
    background: $colorBackground2;
    background: linear-gradient(180deg, $colorBackground2 0%, $colorBackground1 100%);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 30px;

    @include centralizarPosition;
}

/* ----- SCROLLBAR ----- */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: $colorBackground2;
}

::-webkit-scrollbar-thumb{
    background-color: $colorBackground1;
    border-radius: 50px;
}

/* ----- CONTEINER ----- */

.bloco{
    @include displayFlex("center");
}

#container {
    background-color: $colorBackground1;
    box-shadow: 2px 2px 6px #00000026;
    border-radius: 40px;
    width: 345px;
    height: 345px;

    @include displayFlex("center");
    flex-direction: column;

    @include tamanho("celular"){
        width: 266px;
        height: 266px;
        border-radius: 23px;
    }

    .break {
        display: flex;
    }

    .box {
        background-color: $colorBackground2;
        border-radius: 25px;
        height: 100px;
        width: 100px;
        margin: 5px;

        @include displayFlex("center");

        @include tamanho("celular"){
            width: 77px;
            height: 77px;
            border-radius: 17px;
            margin: 4px;
        }

        span.o{
            @include tamanho("celular"){
                color: gray;
            }
        }
    }
}

/* ----- PLACAR ----- */

.persons {
    margin-bottom: 20px;

    @include displayFlex("center");
    gap: 1em;

    @include tamanho("celular"){
        gap: .5em;
        margin-bottom: 15px;
    }

    .person1 {
            background-color: $colorBackground1;
            box-shadow: 2px 2px 6px #00000026;
            border-radius: 40px;
            width: min(100%, 192px);
            padding: 53px 0 20px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include tamanho("celular"){
                width: min(100%, 128px);
                padding: 35px 0 13px;
                margin: 3.3px;
                border-radius: 26px;
            }
    
        img{
            width: 70px; 
            position: absolute;
            top: -28px;

            @include tamanho("celular"){
                width: 46px;
                top: -18px;
            }
        }
    
        .name span{
            color: $color4;
            font-size: 18px;

            @include tamanho("celular"){
                font-size: 14px;
            }
        }
    
        .pontosX{
            background-color: $colorBackground2;
            border-radius: 25px;
            margin-top: 10px;
            width: 105px;       
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: .1em;

            @include tamanho("celular"){
                border-radius: 16px;
                margin-top: 7px;
                width: 75px;
            }
        }
    
        .pontosX span{
            font-size: 50px;
            color: $color1;

            @include tamanho("celular"){
                font-size: 40px;
            }
        }
    
        .pontosX span:nth-of-type(2){
            font-size: 20px;    
            color: $color3;

            @include tamanho("celular"){
                font-size: 18px;
            }
        }
    }
    
    .person2 {
        background-color: $colorBackground1;
        box-shadow: 2px 2px 6px #00000026;
        border-radius: 40px;
        padding: 53px 0 20px;
        width: 192px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tamanho("celular"){
            width: min(100%, 128px);
            padding: 35px 0 13px;
            border-radius: 26px;
            margin: 3.3px;
        }

        img{
            width: 70px; 
            position: absolute;
            top: -28px;

            @include tamanho("celular"){
                width: 46px;
                top: -18px;
            }
        }

        .name span{
            color: $color4;
            font-size: 18px;

            @include tamanho("celular"){
                font-size: 14px;
            }
        }

        .pontosO{
            background-color: $colorBackground2;
            border-radius: 25px;
            margin-top: 10px;
            width: 105px;
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: .1em;

            @include tamanho("celular"){
                border-radius: 16px;
                margin-top: 7px;
                width: 75px;
            }
        }

        .pontosO span{
            font-size: 50px;
            color: $color2;

            @include tamanho("celular"){
                font-size: 40px;
            }
        }

        .pontosO span:nth-of-type(2){
            font-size: 20px;          
            color: $color3;

            @include tamanho("celular"){
                font-size: 18px;
            }
        }
    }  
}

/* ----- CONTEINER WINNER ----- */

.conteinerWinner{
    @include displayFlex("center");
    flex-direction: column;
    background-color: $colorBackground1;
    background-image: url(../assets/images/fundo\ background\ winner.png);
    box-shadow: 2px 2px 6px #00000026;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    padding: 20px 10px;
    border-radius: 80px;
    margin: 0 auto;

    @include tamanho("celular"){
        border-radius: 53px;
        width: 266px;    
    }

    .fotoWinner{
        @include displayFlex("center");

        img{
            width: min(100%, 195px);
    
            @include tamanho("celular"){
                width: min(100%, 140px);
            }
        }
    }

    .nomeWinner span{
        font-size: 35px;
        color: $color4;

        @include tamanho("celular"){
            font-size: 23px;
        }
    }

    > span{
        line-height: .9em;
        font-size: 120px;
        color: $color5;
        text-shadow: 0px 4px 0px $color6;

        @include tamanho("celular"){
            font-size: 80px;
        }
    }

    .botoes {
        @include displayFlex("center");
        gap: 1em;
        margin: 10px 0px 0px;

        @include tamanho("celular"){
            gap: .5em;
        }

        a {
            @include displayFlex("center");
            padding: 10px 20px;
            width: 140px;
            background-color: $colorBackground2;
            border-radius: 27px;
            border: none;
            transition: .5s all;
        
            &:hover{
                box-shadow: -2px 5px 0px $color5;
                transform: translate(0px, -4px);      
            }

            @include tamanho("celular"){
                width: 95px;
                height: 55px;
                border-radius: 18px;
            }
        }

        a.home img{
            width: 50px;

            @include tamanho("celular"){
                width: 35px;
            }
        }

        a.reset img{
            width: 47px;

            @include tamanho("celular"){
                width: 32px;
            }
        }
    }
}

.boxWinner{
    display: none;
}